/*font-family: 'Outfit', sans-serif;*/
:root {
  --body-background-color: #0d192c;
  --card-background-color: #15263f;
  --card-text-color: #8bacd9;
  --card-text-color-secondary: #00fff8;
  --font-sans-serif: "Outfit", sans-serif;
  --headline-color: #ffffff;
}
body {
  background-color: var(--body-background-color);
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans-serif);
  font-size: 16px;
  height: 100vh;
  justify-content: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* card */
.card {
  background-color: var(--card-background-color);
  border-radius: 1rem;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.card-image {
  overflow: hidden;
  position: relative;
}
.card-image img {
  width: 100%;
  display: block;
}

.img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: none;
}
.img-overlay img {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card-image:hover .img-overlay {
  display: block;
}

.card-image img {
  border-radius: 1rem;
}
h2 {
  color: var(--headline-color);
  font-size: 1.25rem;
}
.card-footer--details {
  border-bottom: solid 1px var(--card-text-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.card-footer--details:first-child {
  color: var(--card-text-color-secondary);
}
.card-footer--details p:nth-child(2) {
  color: var(--card-text-color);
}
.card-footer--credit {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--card-text-color);
}
.card-footer--credit a {
  color: white;
  margin-left: 0.4rem;
  text-decoration: none;
}
.flex-container {
  display: flex;
  align-items: center;
}
.flex-container img {
  margin-right: 0.5em;
}

.site-credit {
  color: var(--card-text-color);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.site-credit a {
  color: var(--card-text-color);
  text-decoration: none;
}

.card-text {
  color: var(--card-text-color);
}
.card-title,
.card-title a {
  color: var(--headline-color);
  text-decoration: none;
}
h2.card-title a:hover,
.card-footer--credit a:hover {
  color: var(--card-text-color-secondary);
}
.creator-avatar {
  border: solid thin white;
  border-radius: 50%;
  margin-right: 1em;
  max-width: 2rem;
}
.copyright-spacer {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
